*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #2e2f42;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* page-header */
.header-container {
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav-list,
.page-header-contacts {
  display: none;
}

.page-logo {
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: block;
  padding: 16px 0;
}
.page-logo-second-halfword {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .page-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .page-header-contacts {
    font-style: normal;
    margin-left: auto;
    display: block;
  }
  .page-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .page-nav-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .page-nav-item.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .nav-list-item,
  .contacts-list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .page-header-contacts {
    font-style: normal;
    margin-left: auto;
  }
  .contacts-list-item {
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-item:hover,
  .address-item:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .page-header-contacts-list {
    display: flex;
    gap: 40px;
  }
  .address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* Menu */
.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.burger-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.burger-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu-nav {
  margin-bottom: auto;
}
.button-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu-btn:hover,
.burger-menu-btn:focus {
  background-color: #404bbf;
  border: none;
}
.burger-menu-nav-list {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  gap: 40px;
}
.burger-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404bbf;
}
.burger-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.burger-menu-address-list-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.accent {
  color: #4d5ae5;
}
.burger-menu-socials-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.burger-menu-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
  fill: #f4f4fd;
}
/* Business-solutions section */

.section-business-solutions {
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  padding: 72px 0;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  color: #ffffff;
}
@media screen and (min-resolution: 192dpi) {
  .effective-solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}

.section-business-solutions-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 72px;
}
.section-business-solutions-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-business-solutions-button:hover,
.section-business-solutions-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .section-business-solutions {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  .section-business-solutions-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }
}
@media screen and (min-resolution: 192dpi) {
  .effective-solution {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .section-business-solutions {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .section-business-solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desk@2x.jpg);
    }
  }

  .section-business-solutions-title {
    line-height: 107%;
    margin-bottom: 48px;
  }
}

/* Advantages section */
.section-advantages {
  padding: 96px 0;
}
.section-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.section-advantages-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.section-advantages-item {
  flex-basis: calc((100% - 72px) / 4);
  max-width: 288px;
}
.section-advantages-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
.icon-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 736px;
    gap: 72px 24px;
  }
  .section-advantages-item {
    flex-basis: calc((100% - 72px) / 2);
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .section-advantages-list {
    flex-direction: row;
    max-width: 1128px;
    gap: 24px;
  }
  .section-advantages-item {
    width: 264px;
    flex-basis: calc((100% - 24px * 3) / 4);
  }
  .section-title {
    font-size: 20px;
  }
}

/* Team section */
.section-our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.section-our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}
.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
.our-team-member {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.our-team-member-text {
  padding: 32px 0;
}
.our-team-member-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}
.our-team-member-job {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
  margin-bottom: 8px;
}
.team-member-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-member-socials-list-item {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    max-width: 552px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .our-team-member {
    flex-basis: calc((100%-24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .our-team-list {
    max-width: 1128px;
  }
  .our-team-member {
    flex-basis: calc((100%-3 * 24px) / 4);
  }
}

/* Portfolio section */
.section-our-portfolio {
  padding: 96px 0;
}
.section-our-portfoilio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}
.our-portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.our-portfolio-item {
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  display: none;
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}
.portfolio-image-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .our-portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .our-portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-our-portfolio {
    padding: 120px 0;
  }

  .our-portfolio-list {
    gap: 48px 24px;
  }

  .our-portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-image-text {
    position: relative;
    overflow: hidden;
  }
  .our-portfolio-item:hover .portfolio-image-text {
    transform: translateY(0%);
  }
}

/* Footer */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-second-halfword {
  color: #f4f4fd;
}
.footer-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-socials-text {
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-list-item {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-socials-icon {
  fill: #f4f4fd;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/icons.svg);
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover {
  background-color: #404bbf;
}
.socials-link:focus {
  background-color: #404bbf;
}

.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  outline: transparent;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}
.form-input::placeholder {
  color: #ffffff;
}
.form-input:focus {
  border-color: #4d5ae5;
  opacity: 1;
}

.form-button {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

.form-button-icon {
  margin-left: 16px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    align-items: baseline;
    gap: 72px 24px;
    width: 584px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-socials-text {
    text-align: left;
  }

  .footer-form-text {
    text-align: left;
  }

  .footer-form {
    gap: 24px;
  }

  .form-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
    padding: 0;
    width: auto;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-socials-container {
    margin-right: 80px;
  }

  .footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-input {
    width: 264px;
    opacity: 1;
  }

  .form-input:focus {
    border-color: #4d5ae5;
  }
}

.modal-conatainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
  background-position: -432px 0;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-label-container {
  margin-bottom: 8px;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-input-container {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}
.modal-form-input:focus + svg {
  fill: #4d5ae5;
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-person {
  background-position: -480px 0;
}
.icon-phone {
  background-position: -528px 0;
}
.icon-email {
  background-position: -576px 0;
}
.form-comment-container {
  margin-bottom: 16px;
}
.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea:focus {
  border-color: #4d5ae5;
}
.form-checkbox-container {
  margin-bottom: 24px;
}
.modal-form-privacy-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-form-checkbox:checked + .modal-form-label .modal-form-privacy-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-form-privacy-link {
  color: #4d5ae5;
}
.modal-form-button {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-checkbox {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}

